*.tgz
*.tar.gz
*.zip
*.json
*.pt
*.bin
*.csv

#hw3
/hw/hw3/food11

#hw6
/hw/hw6/checkpoints
/hw/hw6/faces
/hw/hw6/logs
/hw/hw6/models
/hw/hw6/MLHW_6
/hw/hw6/result

#hw7
/hw/hw7/saved_model

#hw8
/hw/hw8/data

#hw10
/hw/hw10/data

#hw11
/hw/hw11/real_or_drawing

#hw13
/hw/hw13/b08502041_hw13
/hw/hw13/food11-hw13
/hw/hw13/outputs

#hw15
/hw/hw15/Omniglot
/hw/hw15/Omniglot-test